@model QLKhachSan.ViewModels.Admin.PhongVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemPhong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card-body">
    <div class="basic-form">
        <form method="post" asp-action="ThemPhong" enctype="multipart/form-data">
            <div class="text-danger">@TempData["Message"]</div>
            <div class="mb-3">
                <input hidden type="text" class="form-control" name="MaPhong" value="@ViewBag.NextMaPhong" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Tên phòng</label>
                <input type="text" class="form-control" name="TenPhong" placeholder="Tên phòng ..">
            </div>
            <div class="mb-3">
                <label asp-for="MaKS" class="form-label">Tên KS</label>
                <select asp-for="MaKS" name="MaKS" class="default-select form-control wide mb-3" asp-items="ViewBag.MaKs"></select>
            </div>
            <div class="mb-3">
                <label asp-for="MaLP" class="form-label">Tên LP</label>
                <select asp-for="MaLP" name="MaLP" class="default-select form-control wide mb-3" asp-items="ViewBag.MaLp"></select>
            </div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label">Ảnh đại diện</label>
                <input class="form-control form-control-sm" name="Anh" id="formFileSm" type="file">
            </div>
            <div class="mb-3">
                <label for="formFile1" class="form-label">Ảnh chi tiết phòng</label>
                <input class="form-control form-control-sm" name="AnhDetail" id="formFile1" type="file" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label">Mô tả</label>
                <textarea class="form-control" rows="8" name="MoTa" id="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>

